---
import Layout from "../layouts/Layout.astro";
import { siAstro, siCplusplus, siDebian, siDocker, siGithub, siGo, siHomeassistant, siHtml5, siJavascript, siLinux, siMinecraft, siOpenjdk, siPostgresql, siProxmox, siPython, siReact, siRos, siTruenas } from "simple-icons";
---

<Layout title="Evan Whelan - Projects">
    <div>
        <div class="mb-4">
            <div class="flex items-center">
                <p class="text-4xl font-bold mr-2">Claret</p>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#00ADD8] mr-1"><path d={siGo.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#61DAFB] mr-1"><path d={siReact.path}/></svg> 
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#2496ED] mr-1"><path d={siDocker.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#4169E1]"><path d={siPostgresql.path}/></svg>
            </div>
            <p class="text-xl">
                Claret is a collection of tools created to assist Memorial University students. The primary focus of Claret is an easy to use schedule builder (written in React) allowing for
                significantly easier planning semesters prior to course registration. Claret also consists of a Scraper, API, ICS Server, and Discord Bot all written in Go.
            </p>
            <div class="flex items-center">
                <a class="group flex items-center p-1 mr-2" href="https://claretformun.com" target="_blank">
                    <i data-lucide="link" class="stroke-blue-300 transition duration-200 group-hover:stroke-neutral-800"/>
                    <p class="text-2xl leading-none">/ClaretForMUN.com</p>
                </a>
                <a class="group flex items-center p-1" href="https://github.com/evaan" target="_blank">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" class="fill-blue-300 transition mr-0.5 duration-200 group-hover:fill-neutral-800"><path d={siGithub.path}/></svg> 
                    <p class="text-2xl leading-none">/evaan/Claret</p>
                </a>
            </div>
        </div>
        <div class="mb-4">
            <div class="flex items-center">
                <div class="flex items-center">
                    <p class="text-4xl font-bold mr-2">Eastern Edge Robotics</p>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#61DAFB] mr-1"><path d={siReact.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#3776AB] mr-1"><path d={siPython.path}/></svg> 
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#22314E] mr-1"><path d={siRos.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#00599C] mr-1"><path d={siCplusplus.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#BC52EE]"><path d={siAstro.path}/></svg>
                </div>
            </div>
            <p class="text-xl">
                I am currently a software team member as well as GUI lead for Eastern Edge Robotics. The software will be used for the ROV competing in the 2024 <a href="https://materovcompetition.org/" target="_blank">MATE ROV Competition</a> in Kingsport, Tennessee next June!
                Alongside being a software member, I am also assisting in rewriting the website using Astro and React!
            </p>
            <div class="flex items-center">
                <a class="group flex items-center p-1 mr-2" href="https://easternedgerobotics.com" target="_blank">
                    <i data-lucide="link" class="stroke-blue-300 transition duration-200 group-hover:stroke-neutral-800"/>
                    <p class="text-2xl leading-none">/EasternEdgeRobotics.com</p>
                </a>
                <a class="group flex items-center p-1" href="https://github.com/easternedgerobotics" target="_blank">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" class="fill-blue-300 transition mr-0.5 duration-200 group-hover:fill-neutral-800"><path d={siGithub.path}/></svg> 
                    <p class="text-2xl leading-none">/EasternEdgeRobotics</p>
                </a>
            </div>
        </div>
        <div class="mb-4">
            <div class="flex items-center">
                <div class="flex items-center">
                    <p class="text-4xl font-bold mr-2">Homelab</p>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#E57000] mr-1"><path d={siProxmox.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#A81D33]"><path d={siDebian.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#0095D5] mr-1"><path d={siTruenas.path}/></svg> 
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#2496ED] mr-1"><path d={siDocker.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#18BCF2] mr-1"><path d={siHomeassistant.path}/></svg>
                </div>
            </div>
            <p class="text-xl">
                A homelab which uses Proxmox that I run as a hobby. The VMs in Proxmox include TrueNAS Core, Debian with Docker containers, and Home Assistant OS. 
            </p>
        </div>
        <div class="mb-4">
            <div class="flex items-center">
                <div class="flex items-center">
                    <p class="text-4xl font-bold mr-2">Husky Explorer 2023</p>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#F7DF1E] mr-1"><path d={siJavascript.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#00599C] mr-1"><path d={siCplusplus.path}/></svg> 
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#3776AB] mr-1"><path d={siPython.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#FCC624] mr-1"><path d={siLinux.path}/></svg>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#E34F26]"><path d={siHtml5.path}/></svg>
                </div>
            </div>
            <p class="text-xl">
                The Husky Explorer competed in the 2023 Mate ROV World Championship that took place in Longmont, Colorado in June of 2023.
                The repository contains all of the code used by Husky Explorer that year, including the software control system, and the vertical profiling float.             </p>
            <div class="flex items-center">
                <a class="group flex items-center p-1" href="https://github.com/evaan/huskyexplorer2023" target="_blank">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" class="fill-blue-300 transition mr-0.5 duration-200 group-hover:fill-neutral-800"><path d={siGithub.path}/></svg> 
                    <p class="text-2xl leading-none">/evaan/HuskyExplorer2023</p>
                </a>
            </div>
        </div>
        <div class="mb-4">
            <div class="flex items-center">
                <div class="flex items-center">
                    <p class="text-4xl font-bold mr-2">FrostBurn</p>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="fill-[#52A535] mr-1"><path d={siMinecraft.path}/></svg> 
                </div>
            </div>
            <p class="text-xl">
                A Minecraft utility mod created using the Fabric Modding API for 1.17.1, this mod included several features such as a custom ClickGUI using the <a href="https://github.com/ocornut/imgui" target="_blank">ImGui</a> library.
            </p>
            <div class="flex items-center">
                <a class="group flex items-center p-1" href="https://github.com/evaan/frostburn" target="_blank">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" class="fill-blue-300 transition mr-0.5 duration-200 group-hover:fill-neutral-800"><path d={siGithub.path}/></svg> 
                    <p class="text-2xl leading-none">/evaan/FrostBurn</p>
                </a>
            </div>
        </div>
    </div>
    <script>
        import { createIcons, Link } from 'lucide';
        createIcons({
            icons: {
                Link,
            }
        });
    </script>
</Layout>