---
import { siGo, siReact, siDocker, siPostgresql, siPython, siRos, siCplusplus, siAstro, siProxmox, siDebian, siTruenas, siHomeassistant, siJavascript } from "simple-icons";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import Link from "../components/Link.astro";
---

<style>
    svg {
        @apply fill-neutral-200
    }
</style>
<Layout title="Evan Whelan - Projects">
    <div class="my-10">
        <p class="text-3xl font-medium mb-4">my current projects</p>
        <Project name="Claret">
            <Fragment slot="icons">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siGo.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siReact.path}/></svg> 
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siDocker.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class=""><path d={siPostgresql.path}/></svg>        
            </Fragment>
            <Fragment slot="description">
                Claret is a schedule-building tool tailored for Memorial University students, providing an easy-to-use solution for picking courses. It houses several extra features, such as calendar integration and easy schedule sharing.
            </Fragment>
            <Fragment slot="links">
                <Link label="ClaretForMUN.com" link="https://claretformun.com" />
                <Link label="evaan/Claret" link="https://github.com/evaan/Claret" github />
            </Fragment>
        </Project>
        <Project name="invengory">
            <Fragment slot="icons">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siGo.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siReact.path}/></svg> 
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px"><path d={siPostgresql.path}/></svg>        
            </Fragment>
            <Fragment slot="description">
                invengory is a project initially designed for Eastern Edge Robotics. It aims to deliver a robust, simple, open-source inventory management system.
            </Fragment>
            <Fragment slot="links">
                <Link label="evaan/invengory" link="https://github.com/evaan/invengory" github />
            </Fragment>
        </Project>
        <Project name="Eastern Edge Robotics">
            <Fragment slot="icons">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siReact.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siPython.path}/></svg> 
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siRos.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siCplusplus.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siDocker.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px"><path d={siAstro.path}/></svg>
            </Fragment>
            <Fragment slot="description">
                I am currently the Software Co-Lead for Eastern Edge Robotics, which will compete in the 2024 <a href="https://materovcompetition.org/" target="_blank">MATE ROV Competition</a> in Alpena, Michigan, next June!
                In addition to my role as Co-Lead, I've also contributed to overhauling the team's website using Astro.
            </Fragment>
            <Fragment slot="links">
                <Link label="EasternEdgeRobotics.com" link="https://easternedgerobotics.com" />
                <Link label="EER/Software_2024" link="https://github.com/easternedgerobotics/software_2024" github/>
            </Fragment>
        </Project>
        <Project name="Homelab">
            <Fragment slot="icons">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siProxmox.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siDebian.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siTruenas.path}/></svg> 
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" class="mr-1"><path d={siDocker.path}/></svg>
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px"><path d={siHomeassistant.path}/></svg>
            </Fragment>
            <Fragment slot="description">
                A homelab I run as a hobby, running a media server, game servers, hosting backups, as well as hosting any projects that I may be working on.
            </Fragment>
        </Project>
        <p class="text-2xl font-medium mt-4">my older projects</p>
        <p class="text-md"><a href="https://github.com/evaan/frostburn" target="_blank">Frostburn</a> - A utility mod for Minecraft 1.17.1, built using the Fabric modding API.</p>
        <p class="text-md"><a href="https://github.com/evaan/huskyexplorer2023" target="_blank">Husky Explorer 2023</a> – Code for the Husky Explorer, which competed in the MATE ROV World Championship in Longmont, CO, in 2023.</p>
    </div>
</Layout>
<script>
    import { createIcons, Link } from "lucide";
    createIcons({
        icons: {
            Link
        }
    })
</script>